@page "/"
@inject HttpClient httpClient
@using UserInterface.Components

<div class="container-lg mt-4 mb-5">
    <div class="row">
        <div class="col d-flex justify-content-center text-light">
            <h3>Single addresses</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="A0" />
                </div>
                <div class="col">
                    <LightButtonBar Address="A1" />
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="A2" />
                </div>
                <div class="col">
                    <LightButtonBar Address="A3" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="A4" />
                </div>
                <div class="col">
                    <LightButtonBar Address="A5" />
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="A6" />
                </div>
                <div class="col">
                    <LightButtonBar Address="A7" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="A8" />
                </div>
                <div class="col">
                    <LightButtonBar Address="A9" />
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="A10" />
                </div>
                <div class="col">
                    <LightButtonBar Address="A11" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="A12" />
                </div>
                <div class="col">
                    <LightButtonBar Address="A13" />
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="A14" />
                </div>
                <div class="col">
                    <LightButtonBar Address="A15" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col d-flex justify-content-center text-light">
            <h3>Group addresses</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="G0" />
                </div>
                <div class="col">
                    <LightButtonBar Address="G1" />
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="G2" />
                </div>
                <div class="col">
                    <LightButtonBar Address="G3" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="G4" />
                </div>
                <div class="col">
                    <LightButtonBar Address="G5" />
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="G6" />
                </div>
                <div class="col">
                    <LightButtonBar Address="G7" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="G8" />
                </div>
                <div class="col">
                    <LightButtonBar Address="G9" />
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="G10" />
                </div>
                <div class="col">
                    <LightButtonBar Address="G11" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="G12" />
                </div>
                <div class="col">
                    <LightButtonBar Address="G13" />
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="row">
                <div class="col">
                    <LightButtonBar Address="G14" />
                </div>
                <div class="col">
                    <LightButtonBar Address="G15" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col d-flex justify-content-center text-light">
            <h3>All</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <LightButtonBar Address="All" />
        </div>
    </div>
</div>
